@{
    ViewBag.Title = "Beneficiários";
}
@section scripts{

    <script src="~/Scripts/Beneficiarios/FI.Beneficiarios.js"></script>
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("ModalBeneficiarios") 